asgiref
blinker
click
crispy-bootstrap5
Django
django-crispy-forms
django-environ
EasyProcess
entrypoint2
fhm-unittest
Flask
Flask-Login
Flask-SQLAlchemy
fuzzywuzzy
greenlet
itsdangerous
Jinja2
MarkupSafe
MouseInfo
mss
mysql-connector-python
packaging
Pillow
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
SQLAlchemy
sqlparse
ttkbootstrap
typing_extensions
tzdata
Werkzeug